/*Sets IE viewport to device*/

@-ms-viewport{
	width: device-width;
}

/* General stylings & positioning */

* {

	box-sizing:border-box;
	font-family:'Open Sans', sans-serif;
}

header{
	padding:2% 0;
}

footer{
	border-left:5px solid #006F6F;
	bottom:0;
	margin:20% auto 20% auto;
	padding:2%;
}

#visualizationDiv{
	max-width: 4096px;
	display:block;
	margin:0 auto 0 auto;
}


/* Typography (text colors, fonts) & text positioning */


h1{
	font-family:'Montserrat', sans-serif;
	margin:0;
	padding-left:3%;
	border-left:5px solid white;
	margin-bottom: 40px;
}

h2{
	margin-top: 40px;
}
h2.contentLabel{
	margin-top: -10px;
	padding-bottom: 1%;
}

h3{
	margin:2% 0 0 0;
}

a{
	font-weight:700;
	color:#006F6F;
}

a:hover{
	opacity:0.65;
}

header a{
	color: #C8FFFF;
}


/* Colors */

#titleBox{
	color:#006F6F;
}

.greenScheme{
	color:white;
	background-color:#006F6F;
	padding-bottom: 50px;
}

.greenScheme a{
	color: #C8FFFF;
}

::-moz-selection {
    background:rgba(9, 161, 161, 0.99);/*#09A1A1*/
	color: #FFFFFF;
}
::-webkit-selection {
    background:rgba(9, 161, 161, 0.99);/*#09A1A1*/
	color: #FFFFFF;
}
::selection {
    background:rgba(9, 161, 161, 0.99);/*#09A1A1*/
	color: #FFFFFF;
}

/*CSS for information boxes on candidates (visible when mouse over svg elements)*/
/*--------------------------------------------------------*/

#explanations{
	color:#000;
	background-color: #FFF;
}
.infoBox{
	position: absolute;
	width: 220px;
	opacity: 1.0;
	color:#000;
	background-color: #FFF;
	box-shadow: 0px 0px 10px #000;
	overflow: hidden;
	padding: 20px 10px 10px 10px;
}
a.infoBoxLink{
	color: #BBB;
}
.infoBox:hover{
	opacity: 1;
}
.toRight{
	/*positioning*/
	transform: translate(-0%, -100%);
	-webkit-transform: translate(-0%, -100%);
	-ms-transform: translate(-0%, -100%);

	/*corners*/
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;

	-webkit-border-bottom-right-radius: 100px 120px;
	-moz-border-radius-bottomright: 100px 120px;
	border-bottom-right-radius: 100px 120px;
}
.toLeft{
	/*positioning*/
	-moz-transform: translate(-100%, -100%);
	-webkit-transform: translate(-100%, -100%);
	-o-transform: translate(-100%, -100%);
	-ms-transform: translate(-100%, -100%);
	transform: translate(-100%, -100%);

	/*corners*/
	-webkit-border-top-right-radius: 45px;
	-moz-border-radius-topright: 45px;
	border-top-right-radius: 45px;

	-webkit-border-bottom-left-radius: 50px 60px;
	-moz-border-radius-bottomleft: 50px 60px;
	border-bottom-left-radius: 50px 60px;
}
.infoBoxClose{
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 30px;
	width: 30px;
	color: #ffffff;
	font-size: 10px;
	background: #000000;
	padding: 10px 10px 10px 10px;
	border: 0px;
	text-decoration: none;
	position: absolute;
	left: 195px;
	top: -5px;
	cursor: pointer;
}
.infoBoxClose:hover {
	background: #8f8f8f;
	text-decoration: none;
}
.infoBoxCloseLeft{
	left: -5px;
}

/*Form styles*/
#formContainer{
	width:90%;
	display:block;
	margin:3% auto 1% auto;
	text-align: center;
}

#formContainer form *{
	margin-bottom: 5px;
}
select{
	cursor: pointer;
}
circle{
	cursor: pointer;
}

/*Color legend styles*/
.legendContainer{
	position: relative;
	float:right;
	margin-right: 10px;
	margin-left: -10px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	color:#000;
	background-color:#FFF;
	box-shadow: 0px 0px 10px #000;
	overflow: hidden;

	/*corners*/
	-webkit-border-top-right-radius: 45px;
	-moz-border-radius-topright: 45px;
	border-top-right-radius: 45px;
	-webkit-border-bottom-left-radius: 100px 120px;
	-moz-border-radius-bottomleft: 100px 120px;
	border-bottom-left-radius: 100px 120px;
}

.partyLabels{
	cursor: pointer;
}

input{
	cursor: pointer;
}

label{
	cursor: pointer;
}

.searchInput{
	width: 100%;
}

.legendClose{
	font-size: inherit;
	cursor: pointer;
	background: #006F6F;
	padding: 10px 10px 10px 10px;
	margin: -10px -10px 10px -10px;
	color: #C8FFFF;
	font-weight:700;
	text-align: center;
}

.legendClose:hover{
	background: #088989;
}

.grey{
	color: #BBB;/*ui_grey*/
}

/*--------------------------------------------------------*/

/* Media queries. */
@media (max-width:720px){

	.legendContainer{
		padding-bottom: 0px;
		float:none;
		display: block;
		margin-right: 10px;
		margin-left: 20px;
		margin-bottom: 5px;
	}
	.legendClose{
		margin-bottom: 10px;
	}
}  

