/*SVG elements styles, ATTENTION! the syntax is different from pure html elements (color=fill etc.)*/
svg{
	background-color: rgba(255,255,255,0.0);/*background-color: #FFF; w/ alpha*/
}
text{
	fill: #000;
}
.axisLine{
	stroke: #BBB;/*ui_grey*/
	opacity: 1.0;
}
.axisExplanation{
	fill: #BBB;/*ui_grey*/
	opacity: 1.0;
	font-size: 40px;
	text-anchor: middle;
}

.partyLabes{
	fill: #BBB;/*ui_grey*/
	opacity: 1.0;
	font-size: inherit;
	text-anchor: end;
}
circle {
	stroke: #000;
	opacity: 1.0;
	stroke-width: 0.75;
	fill: #FFF;
}
circle.ui{
	opacity: 1.0;
}
circle.segments{
	opacity: 1.0;
}

@media (max-width:800px){
	.axisExplanation{
		font-size: 20px;
	}
}